<li>
  <img src="{{gravatar_url}}" class="playerProfileImage"/>
  <div class="playerName">{{name}}</div>
  <div class="stats">
    <div class="score">
      <span class="statLabel">Score:</span> {{score}}
    </div>
    <div class="rounds">
      <span class="statLabel">Rounds Played:</span> {{rounds_played}}
    </div>
  </div>
  <div class="status"><small><em>{{status}}</em></small></div>
</li>
